feedparser==6.0.11
transformers==4.44.2
torch>=2.4.1
spacy==3.7.5
rapidfuzz==3.9.7
yfinance==0.2.43
pandas>=2.2.3
requests==2.32.3
pyotp==2.9.0
growwapi
python-dotenv==1.0.1
schedule==1.2.2
rich==13.9.4
pytz
